# PostgreSQL
POSTGRES_PASSWORD=shadow

# JWT
JWT_SECRET=your-super-secret-jwt-key-at-least-32-characters-long
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

# URLs
CLIENT_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# AI (OpenAI API)
OPENAI_API_KEY=your_openai_api_key_here


#ai
GROQ_API_KEY=your_groq_api_key_here
